Host bastionNSO
    User ubuntu
    HostName <ipaddress>
    IdentityFile ~/.ssh/f1
    ForwardAgent yes
    StrictHostKeyChecking no
    ControlPath ~/.ssh/ansible-%r@%h:%p
    PasswordAuthentication no
    ControlMaster auto
    ControlPersist yes
    

Host HAproxy
    User ubuntu
    HostName <ipaddress>
    IdentityFile ~/.ssh/f1
    StrictHostKeyChecking no
    PasswordAuthentication no

Host DevA
    User ubuntu
    HostName <ipaddress>
    IdentityFile ~/.ssh/f1
    ProxyCommand ssh -W %h:%p bastionNSO
    StrictHostKeyChecking no
    PasswordAuthentication no

Host DevB
    User ubuntu
    HostName <ipaddress>
    IdentityFile ~/.ssh/f1
    ProxyCommand ssh -W %h:%p bastionNSO
    StrictHostKeyChecking no
    PasswordAuthentication no

Host DevC
    User ubuntu 
    HostName <ipaddress>
    IdentityFile ~/.ssh/f1
    ProxyCommand ssh -W %h:%p bastionNSO
    StrictHostKeyChecking no
    PasswordAuthentication no
